<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="#home">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#gallery">cupcakes</a></li>
            <li><a href="#contact">sweets</a></li>    
        </ul> 
        
        <div class="dropdown">
            <img id="bunnyPfp" src="./pics/bunnyPfp.jpg" alt="pfp">
            <div class="content">
                <a href="profile">Profile</a>
                <a href="setting">Setting</a>
                <a href="logout">Logout</a>
            </div>
        </div>
    </nav>
</header>