:root{
    --cottonB: rgb(133, 190, 240);
    --pink: rgb(249, 201, 209); /* Hot Pink */
}
body, html {
    background-color: rgb(244, 203, 210);
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    background: linear-gradient(135deg, #fbd3e9, #bbf0f3);
    padding: 20px 0px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);

}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    position: relative;
    box-sizing: border-box;

}
.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* gap: 30px; */
}

/* Navigation links */
nav ul li a {
    text-decoration: none;
    font-family: 'Pacifico', cursive; /* Decorative font */
    font-size: 18px;
    color: #ff4974;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
/* Hover effect */
nav ul li a:hover {
    color: #ff2442;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }




#bunnyPfp {
    height: 33px;
    cursor: pointer;
  
}


/* Dropdown menu styles */
.drop-down {
    position: relative;
    display: inline-block;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    background-color: white;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
    display: none;
    z-index: 1;
    left: -30px;
   
}

.dropdown:hover .content {
    display: block;
 
   
}
.dropdown a:hover {
    background-color: var(--cottonB);
}

/* Ensure dropdown content is properly positioned */
.dropdown {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}






